.msights-grid {
  /* Clearfix */
  /* start commented backslash hack \*/
  /* close commented backslash hack */
  /* multiple checkbox*/
  /*antiscroll*/ }
  .msights-grid article,
  .msights-grid aside,
  .msights-grid details,
  .msights-grid figcaption,
  .msights-grid figure,
  .msights-grid footer,
  .msights-grid header,
  .msights-grid hgroup,
  .msights-grid nav,
  .msights-grid section,
  .msights-grid summary {
    display: block; }
  .msights-grid audio,
  .msights-grid canvas,
  .msights-grid video {
    display: inline-block; }
  .msights-grid audio:not([controls]) {
    display: none;
    height: 0; }
  .msights-grid [hidden], .msights-grid template {
    display: none; }
  .msights-grid html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  .msights-grid html,
  .msights-grid button,
  .msights-grid input,
  .msights-grid select,
  .msights-grid textarea {
    font-family: sans-serif; }
  .msights-grid body {
    margin: 0; }
  .msights-grid a {
    background: transparent; }
    .msights-grid a:focus {
      outline: thin dotted; }
    .msights-grid a:hover, .msights-grid a:active {
      outline: 0; }
  .msights-grid h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  .msights-grid h2 {
    font-size: 1.5em;
    margin: 0.83em 0; }
  .msights-grid h3 {
    font-size: 1.17em;
    margin: 1em 0; }
  .msights-grid h4 {
    font-size: 1em;
    margin: 1.33em 0; }
  .msights-grid h5 {
    font-size: 0.83em;
    margin: 1.67em 0; }
  .msights-grid h6 {
    font-size: 0.75em;
    margin: 2.33em 0; }
  .msights-grid dfn {
    font-style: italic; }
  .msights-grid mark {
    background: #ff0;
    color: #000; }
  .msights-grid code,
  .msights-grid kbd,
  .msights-grid pre,
  .msights-grid samp {
    font-family: monospace, serif;
    font-size: 1em; }
  .msights-grid pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }
  .msights-grid q {
    quotes: "\201C" "\201D" "\2018" "\2019"; }
  .msights-grid q:before, .msights-grid q:after {
    content: '';
    content: none; }
  .msights-grid small {
    font-size: 80%; }
  .msights-grid sub,
  .msights-grid sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .msights-grid sup {
    top: -0.5em; }
  .msights-grid sub {
    bottom: -0.25em; }
  .msights-grid img {
    border: 0; }
  .msights-grid svg:not(:root) {
    overflow: hidden; }
  .msights-grid figure {
    margin: 0; }
  .msights-grid fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .msights-grid legend {
    border: 0;
    padding: 0;
    white-space: normal; }
  .msights-grid button,
  .msights-grid input,
  .msights-grid select,
  .msights-grid textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline; }
  .msights-grid button, .msights-grid input {
    line-height: normal; }
  .msights-grid button,
  .msights-grid select {
    text-transform: none; }
  .msights-grid button,
  .msights-grid html input[type="button"],
  .msights-grid input[type="reset"],
  .msights-grid input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }
  .msights-grid button[disabled],
  .msights-grid input[disabled] {
    cursor: default; }
  .msights-grid button::-moz-focus-inner, .msights-grid input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .msights-grid textarea {
    overflow: auto;
    vertical-align: top; }
  .msights-grid table {
    border-collapse: collapse;
    border-spacing: 0; }
  .msights-grid input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
    .msights-grid input[type="search"]::-webkit-search-cancel-button, .msights-grid input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }
  .msights-grid input[type="checkbox"], .msights-grid input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  .msights-grid .grid-topbar-input-wrap p.grid-error::before, .msights-grid .grid-data p.grid-error::before, .msights-grid .invert-dropdown p.grid-error::before, .msights-grid .invert-dropdown p.grid-error::after {
    display: block;
    content: "";
    position: absolute; }
  .msights-grid button, .msights-grid input[type="submit"], .msights-grid .grid-topbar .close-filter-btn, .msights-grid .grid-form-btn button, .msights-grid .pagination-holder li button, .msights-grid .multi-select-button button, .msights-grid .multi-select-button button.active, .msights-grid .multi-select-button.active > button, .msights-grid .multi-select-button.active > button h2 {
    background: #ffffff;
    border: 1px solid #29cad8;
    color: #29cad8; }
  .msights-grid .grid-topbar .form-btns button, .msights-grid .grid-topbar .form-btns input[type="submit"], .msights-grid .overlay .message .overlay-btn {
    background: #29cad8;
    color: #ffffff;
    border: 1px solid #29cad8;
    border-radius: 2px; }
    .msights-grid .grid-topbar .form-btns button:hover, .msights-grid .grid-topbar .form-btns input[type="submit"]:hover, .msights-grid .overlay .message .overlay-btn:hover {
      background: #24b7c4;
      border: 1px solid #24b7c4;
      transition: all 0.3s ease-in-out; }
  .msights-grid button, .msights-grid input[type="submit"], .msights-grid .grid-topbar .close-filter-btn, .msights-grid .grid-form-btn button, .msights-grid .pagination-holder li button {
    color: #848484;
    padding: 5px 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 12px; }
    .msights-grid button:hover, .msights-grid input[type="submit"]:hover, .msights-grid .grid-topbar .close-filter-btn:hover, .msights-grid .pagination-holder li button:hover {
      transition: all 0.2s ease-in-out; }
  .msights-grid .multi-select-button button {
    padding: 5px 8px;
    border: 1px solid #d1d1d1;
    color: #848484;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .msights-grid .multi-select-button button:hover {
      border: none;
      background: #ffffff;
      color: #29cad8;
      border: 1px solid #29cad8; }
  .msights-grid .grid-topbar button.filterbox-remove, .msights-grid .grid-topbar button.filterbox-add {
    width: 26px;
    height: 26px;
    padding: 0; }
  .msights-grid .filter-wrap .form-div input[type="search"], .msights-grid .grid-input-field, .msights-grid .grid-table, .msights-grid .custom-select, .msights-grid .overlay, .msights-grid .antiscroll-box, .msights-grid .disable-all {
    width: 100%;
    height: 100%; }
  .msights-grid .grid-table, .msights-grid .multi-select-button button {
    border: none; }
  .msights-grid select, .msights-grid input, .msights-grid .grid-topbar .grid-input-field, .msights-grid .filter-wrap .form-div input[type="search"], .msights-grid .grid-input-field {
    font-size: 12px;
    background: #ffffff;
    color: #848484; }
    .msights-grid select:focus, .msights-grid input:focus, .msights-grid .filter-wrap .form-div input[type="search"]:focus, .msights-grid .grid-input-field:focus {
      box-shadow: none;
      outline: 1px solid #29cad8; }
  .msights-grid select, .msights-grid input, .msights-grid .grid-topbar .grid-input-field {
    padding: 5px;
    border: 1px solid #d4d4d4; }
  .msights-grid .filter-wrap .form-div input[type="search"], .msights-grid .grid-input-field {
    padding: 0 10px;
    border: 1px solid #29cad8; }
    .msights-grid .filter-wrap .form-div input[type="search"]:focus, .msights-grid .grid-input-field:focus {
      outline: 1px solid #29cad8; }
  .msights-grid .grid-topbar-input-wrap p.grid-error, .msights-grid .grid-data p.grid-error {
    position: absolute;
    color: #fff;
    width: 98%;
    border-radius: 4px;
    word-wrap: break-word;
    white-space: normal;
    line-height: 16px;
    padding: 6px; }
  .msights-grid .overlay .message {
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    padding: 20px;
    border-radius: 4px;
    display: inline-block;
    width: 300px;
    margin-left: -150px; }
    .msights-grid .overlay .message button.close-overlay {
      position: absolute;
      border-radius: 50%;
      top: -10px;
      right: -10px;
      border: 1px solid #848484;
      color: #848484; }
      .msights-grid .overlay .message button.close-overlay:hover {
        border: 1px solid #fe748f;
        color: #ffffff;
        background: #fe748f; }
      .msights-grid .overlay .message button.close-overlay:focus {
        outline: none; }
  .msights-grid button:hover, .msights-grid input[type="submit"]:hover, .msights-grid .grid-topbar .close-filter-btn:hover, .msights-grid .pagination-holder li button:hover, .msights-grid .heading-wrap .multi-select-button a:hover, .msights-grid .heading-wrap .multi-select-button button:hover, .msights-grid .custom-select ul li a:hover, .msights-grid .custom-select ul li label:hover, .msights-grid .multi-select-container.template-selection a:hover, .msights-grid .multi-select-container button:hover, .msights-grid ul.cb-multi-select li:hover {
    background: #29cad8;
    transition: all 0.2s ease-in-out;
    color: #ffffff; }
  .msights-grid .grid-heading, .msights-grid .grid-mass-edit-controls {
    float: left;
    margin-right: 10px; }
  .msights-grid .grid-header-edit-form, .msights-grid .grid-header-edit-form .grid-form input:focus, .msights-grid .grid-header-edit-form .grid-form select:focus, .msights-grid .multi-select-container, .msights-grid .overlay .message {
    -webkit-box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 12px -6px rgba(0, 0, 0, 0.2); }
  .msights-grid .block-bg {
    background: #f5f5f5; }
  .msights-grid * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  .msights-grid .auto-expand {
    float: left;
    display: table; }
  .msights-grid .clearfix {
    display: inline-block; }
    .msights-grid .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
  .msights-grid * html .clearfix {
    height: 1%; }
  .msights-grid .clearfix {
    display: block; }
  .msights-grid button::-moz-focus-inner,
  .msights-grid input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .msights-grid p, .msights-grid span, .msights-grid a {
    font-size: 12px; }
  .msights-grid a {
    text-decoration: none;
    color: #000000; }
  .msights-grid .grid-container {
    margin: 0 auto;
    position: relative;
    font-family: Arial, "sans-serif";
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }
  .msights-grid ul {
    list-style: none; }
  .msights-grid select {
    -webkit-appearance: none;
    border-radius: 0; }
    .msights-grid select::-ms-expand {
      display: none; }
  .msights-grid input {
    padding: 5px 4px; }
    .msights-grid input::-ms-clear {
      display: none; }
  .msights-grid input[type="search"] {
    box-sizing: border-box; }
  .msights-grid label {
    color: #848484;
    font-size: 12px;
    margin-bottom: 3px; }
  .msights-grid h1, .msights-grid h2, .msights-grid h3, .msights-grid h4, .msights-grid h5, .msights-grid h6 {
    margin: 0;
    font-weight: normal;
    line-height: 28px;
    color: #848484; }
  .msights-grid h1 {
    font-size: 18px; }
  .msights-grid h2 {
    font-size: 14px; }
  .msights-grid h3 {
    font-size: 14px; }
  .msights-grid .grid-topbar {
    padding: 4px;
    border-bottom: 1px solid #edebec;
    z-index: 6;
    position: relative; }
    .msights-grid .grid-topbar-heading {
      line-height: 26px; }
    .msights-grid .grid-topbar-filter-form {
      position: relative;
      width: 100%; }
    .msights-grid .grid-topbar-filterbox-wrap, .msights-grid .grid-topbar-filter-form, .msights-grid .grid-topbar-input-wrap, .msights-grid .grid-topbar button {
      float: left;
      margin-right: 10px; }
    .msights-grid .grid-topbar-filter-select {
      float: left;
      margin-right: 6px;
      min-width: 144px; }
    .msights-grid .grid-topbar button.filterbox-remove {
      border-radius: 50%;
      color: #fe748f;
      border: 1px solid #fe748f;
      float: right; }
      .msights-grid .grid-topbar button.filterbox-remove:hover {
        background: #fe748f;
        color: #ffffff; }
    .msights-grid .grid-topbar button.filterbox-add {
      border-radius: 50%;
      position: absolute;
      bottom: 8px; }
    .msights-grid .grid-topbar-filterbox {
      margin-top: 10px;
      border-right: 1px solid #d4d4d4; }
      .msights-grid .grid-topbar-filterbox:first-child {
        margin-top: 0; }
    .msights-grid .grid-topbar .close-filter-btn {
      float: right;
      margin: 0;
      margin-left: 10px; }
    .msights-grid .grid-topbar .filter-toggle-btn button {
      margin: 0; }
    .msights-grid .grid-topbar-input-wrap {
      position: relative; }
      .msights-grid .grid-topbar-input-wrap p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        line-height: 30px;
        padding: 0 8px;
        cursor: pointer;
        font-size: 12px; }
        .msights-grid .grid-topbar-input-wrap p.grid-error {
          position: relative;
          width: 100px;
          overflow: visible;
          text-align: left;
          margin-top: 5px;
          background: #fe748f;
          top: 103%; }
          .msights-grid .grid-topbar-input-wrap p.grid-error::before {
            width: 0;
            height: 0;
            content: "";
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fe748f;
            top: -5px; }
  .msights-grid .grid-heading {
    margin-right: 5px;
    display: inline-block;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    line-height: 26px; }
  .msights-grid .grid-navigation-wrapper {
    display: table;
    margin: 0 auto;
    padding: 6px;
    width: 100%;
    border-bottom: 1px solid #edebec; }
  .msights-grid .heading-wrap {
    float: left;
    margin-right: 20px; }
    .msights-grid .heading-wrap .multi-select-button .multi-select-container {
      min-width: 100px;
      width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      left: -10px; }
    .msights-grid .heading-wrap .multi-select-button h2 {
      float: left; }
    .msights-grid .heading-wrap .multi-select-button a, .msights-grid .heading-wrap .multi-select-button button {
      text-align: left;
      cursor: pointer;
      padding: 8px 15px;
      display: block; }
      .msights-grid .heading-wrap .multi-select-button a:hover, .msights-grid .heading-wrap .multi-select-button button:hover {
        color: #ffffff; }
      .msights-grid .heading-wrap .multi-select-button a:disabled, .msights-grid .heading-wrap .multi-select-button button:disabled {
        color: #d4d4d4;
        cursor: not-allowed; }
    .msights-grid .heading-wrap .multi-select-button button.edit-template-btn {
      margin: 0;
      margin-right: 10px;
      padding: 0;
      border: none; }
      .msights-grid .heading-wrap .multi-select-button button.edit-template-btn:focus {
        outline: none; }
      .msights-grid .heading-wrap .multi-select-button button.edit-template-btn:hover {
        color: #29cad8;
        background: none; }
  .msights-grid .public {
    float: left;
    padding: 4px 6px;
    background: #29cad8;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    border-radius: 8px;
    margin-top: 4px; }
  .msights-grid .filter-wrap .form-div {
    width: 40%;
    float: left;
    margin-right: 3px; }
    .msights-grid .filter-wrap .form-div input[type="search"] {
      width: 100%;
      padding: 5px;
      border: 1px solid #d4d4d4;
      float: left;
      padding-right: 22px; }
  .msights-grid .filter-wrap .multi-select-button button {
    margin: 0; }
  .msights-grid .grid-input-wrapper {
    height: 100%; }
  .msights-grid .grid-input-field:focus {
    outline: none; }
  .msights-grid .grid-loading {
    text-align: center;
    margin-top: 10px; }
  .msights-grid .mask-input {
    position: absolute;
    left: -1px;
    top: 0; }
  .msights-grid .grid-form {
    position: relative;
    height: 100%; }
    .msights-grid .grid-form select, .msights-grid .grid-form input {
      border: 1px solid #29cad8; }
    .msights-grid .grid-form-btn {
      position: absolute;
      right: -54px;
      top: 0;
      height: 100%; }
      .msights-grid .grid-form-btn button {
        height: 100%;
        float: left;
        border: 1px solid #29cad8;
        border-left: none; }
  .msights-grid .loading-text {
    padding: 16px;
    margin: 0;
    text-align: center; }
  .msights-grid .ui-sortable-helper {
    background: rgba(132, 132, 132, 0.5); }
  .msights-grid .grid-table {
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #edebec;
    position: relative; }
  .msights-grid .grid-header {
    width: 100%;
    overflow: hidden; }
    .msights-grid .grid-header .grid-row {
      font-family: Arial, "sans-serif";
      font-style: normal;
      color: #ffffff;
      background: #536667;
      overflow: hidden; }
      .msights-grid .grid-header .grid-row:hover {
        background: #4a5b5c; }
    .msights-grid .grid-header .grid-data {
      height: 31px;
      border-right: 1px solid #848484;
      cursor: pointer; }
      .msights-grid .grid-header .grid-data p {
        font-size: 12px; }
      .msights-grid .grid-header .grid-data.disabled p {
        color: #848484;
        background: #f7f7f7;
        border: 1px solid #efefef;
        border-top: none; }
        .msights-grid .grid-header .grid-data.disabled p:hover {
          background: #f2f2f2; }
    .msights-grid .grid-header-edit-form {
      display: none;
      border-top: none;
      border-radius: 4px;
      margin-bottom: 3px;
      border: 1px solid #29cad8;
      border-top: none; }
      .msights-grid .grid-header-edit-form.active {
        display: block; }
      .msights-grid .grid-header-edit-form .grid-data {
        border: none; }
      .msights-grid .grid-header-edit-form .grid-form input, .msights-grid .grid-header-edit-form .grid-form select {
        border: 1px solid #edebec;
        padding-right: 22px; }
      .msights-grid .grid-header-edit-form .grid-form select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: ''; }
      .msights-grid .grid-header-edit-form .grid-form input[type=number]::-webkit-inner-spin-button,
      .msights-grid .grid-header-edit-form .grid-form input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .msights-grid .grid-header .deselect-edit {
      position: absolute;
      right: 7px;
      top: 7px;
      color: #848484; }
  .msights-grid .grid-body-wrapper.align-number-right .grid-data.integer {
    text-align: right; }
  .msights-grid .grid-body-wrapper.align-number-right .grid-data.decimal {
    text-align: right; }
  .msights-grid .grid-body {
    position: relative;
    right: -15px;
    bottom: -15px;
    left: 0;
    top: 0; }
    .msights-grid .grid-body .grid-row {
      display: block;
      min-width: 100%;
      position: relative;
      font-family: Arial, "sans-serif";
      font-style: normal;
      color: #000000; }
      .msights-grid .grid-body .grid-row.striped {
        background-color: #f4f5f7; }
      .msights-grid .grid-body .grid-row:hover {
        background-color: rgba(41, 202, 216, 0.1); }
      .msights-grid .grid-body .grid-row-container {
        display: table;
        height: 100%; }
        .msights-grid .grid-body .grid-row-container.selected {
          background-color: #d6f5f7; }
  .msights-grid .grid-row {
    position: relative; }
  .msights-grid .grid-row-container {
    overflow-y: hidden; }
  .msights-grid .grid-data {
    float: left;
    border-right: 1px solid #edebec;
    height: 30px; }
    .msights-grid .grid-data p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
      line-height: 30px;
      padding: 0 8px;
      cursor: pointer;
      font-size: 12px; }
      .msights-grid .grid-data p.grid-error {
        overflow: visible;
        z-index: 3;
        text-align: left;
        background: #fe748f;
        top: 35px; }
        .msights-grid .grid-data p.grid-error::before {
          width: 0;
          height: 0;
          content: "";
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #fe748f;
          top: -5px; }
    .msights-grid .grid-data.disabled p {
      cursor: not-allowed; }
    .msights-grid .grid-data-edit {
      height: 100%;
      position: relative; }
      .msights-grid .grid-data-edit.error input, .msights-grid .grid-data-edit.error select {
        border: 1px solid #fe748f;
        outline: none; }
      .msights-grid .grid-data-edit.error button {
        border: 1px solid #fe748f;
        border-left: none;
        outline: none;
        color: #fe748f; }
        .msights-grid .grid-data-edit.error button:hover {
          background: #fe748f;
          color: #ffffff; }
    .msights-grid .grid-data.grid-selector {
      text-align: center;
      line-height: 33px;
      width: 24px; }
  .msights-grid .loading-container {
    width: 100%;
    text-align: center;
    padding-top: 4px; }
  .msights-grid .sorting-indicator {
    position: absolute;
    top: 6px;
    right: 8px; }
  .msights-grid .custom-select input {
    width: 100%;
    height: 100%; }
    .msights-grid .custom-select input:focus {
      outline: none; }
  .msights-grid .custom-select input[type="checkbox"], .msights-grid .custom-select input[type="radio"] {
    width: auto;
    height: auto;
    float: left;
    margin-right: 2px; }
  .msights-grid .custom-select.active input {
    color: #29cad8; }
  .msights-grid .custom-select ul {
    max-height: 80px;
    overflow-y: scroll;
    position: absolute;
    z-index: 999;
    background: #ffffff;
    width: 100%;
    border: 1px solid #29cad8;
    border-top: none;
    left: 0;
    top: 100%; }
    .msights-grid .custom-select ul li {
      border-bottom: 1px solid #edebec; }
      .msights-grid .custom-select ul li a, .msights-grid .custom-select ul li label {
        font-size: 11px;
        margin: 0;
        padding: 6px 10px;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
  .msights-grid .multi-select-button {
    float: left;
    position: relative; }
    .msights-grid .multi-select-button button {
      border: 1px solid #ffffff;
      padding: 5px;
      float: right;
      margin: 0;
      margin-left: 4px; }
      .msights-grid .multi-select-button button:focus {
        outline: none; }
      .msights-grid .multi-select-button button.no-bg {
        background: none;
        border: none; }
    .msights-grid .multi-select-button.active .multi-select-container {
      display: block; }
  .msights-grid .multi-select-container {
    position: absolute;
    right: 0px;
    top: 26px;
    min-width: 215px;
    border: 1px solid #29cad8;
    display: none;
    z-index: 2;
    background: #ffffff; }
    .msights-grid .multi-select-container input[type="checkbox"] {
      margin-right: 5px;
      float: left; }
    .msights-grid .multi-select-container h2 {
      padding: 10px 15px;
      border-bottom: 1px solid #edebec; }
    .msights-grid .multi-select-container.template-selection a {
      cursor: pointer;
      padding: 8px 15px;
      display: block;
      border-bottom: 1px solid #edebec; }
    .msights-grid .multi-select-container button {
      width: 100%;
      border: none;
      padding: 8px; }
      .msights-grid .multi-select-container button:hover {
        border: none;
        color: #ffffff; }
  .msights-grid ul.cb-multi-select {
    max-height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #d4d4d4;
    padding: 4px 0; }
    .msights-grid ul.cb-multi-select li {
      padding: 6px 10px;
      font-size: 12px; }
      .msights-grid ul.cb-multi-select li:hover {
        cursor: pointer; }
  .msights-grid .cb-multi-select-holder {
    position: relative;
    width: 215px; }
    .msights-grid .cb-multi-select-holder button {
      position: absolute;
      bottom: 8px;
      right: 0px; }
  .msights-grid .inner-search {
    padding: 8px 10px;
    border: none;
    border-bottom: 1px solid #29cad8;
    width: 100%; }
    .msights-grid .inner-search:focus {
      outline: none;
      border-bottom: 1px solid #29cad8; }
  .msights-grid .row-count {
    font-size: 12px;
    color: #848484; }
    .msights-grid .row-count span {
      color: #000000; }
  .msights-grid .pagination-holder {
    border: 1px solid #29cad8; }
    .msights-grid .pagination-holder li {
      float: left; }
      .msights-grid .pagination-holder li button {
        color: #848484;
        font-size: 12px;
        border: none;
        border-right: 1px solid #29cad8; }
      .msights-grid .pagination-holder li:last-child button {
        border: none; }
  .msights-grid .per-page-holder {
    margin-left: 8px; }
    .msights-grid .per-page-holder span {
      color: #848484;
      margin-left: -10px; }
    .msights-grid .per-page-holder select {
      border: 1px solid #29cad8;
      padding-right: 10px; }
  .msights-grid .overlay {
    display: block;
    position: fixed;
    z-index: 999;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); }
    .msights-grid .overlay .message p {
      margin-bottom: 20px; }
      .msights-grid .overlay .message p.error {
        color: #fe748f; }
      .msights-grid .overlay .message p.success {
        color: #89e5b0; }
    .msights-grid .overlay .message input {
      width: 100%;
      padding: 6px;
      margin-bottom: 10px;
      color: #000000; }
    .msights-grid .overlay .message .overlay-btn {
      min-width: 65px; }
    .msights-grid .overlay:target {
      outline: none;
      display: block; }
  .ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll; }
  .ui-widget {
    font-size: 12px; }
    .ui-widget-content {
      padding: 0;
      border-radius: 4px;
      background: #ffffff;
      border: 1px solid #29cad8; }
      .ui-widget-content.ui-datepicker-buttonpane {
        border: none;
        border-top: 1px solid #d4d4d4; }
      .ui-widget-content .ui-state-default {
        border: none;
        background: none;
        font-size: 12px;
        color: #848484; }
        .ui-widget-content .ui-state-default.ui-slider-handle {
          top: -8px;
          border-radius: 50%;
          border: 1px solid #29cad8;
          background: #ffffff; }
          .ui-widget-content .ui-state-default.ui-slider-handle:focus {
            outline: none; }
      .ui-widget-content .ui-state-highlight {
        background: #ffffff;
        border: 1px solid #29cad8;
        color: #29cad8; }
      .ui-widget-content .ui-state-active {
        border: none;
        background: #29cad8;
        font-weight: normal;
        color: #ffffff; }
    .ui-widget-header {
      border: none;
      background: none;
      font-weight: normal; }
      .ui-widget-header .ui-state-default {
        border: none;
        background: none;
        font-size: 12px;
        color: #848484; }
      .ui-widget-header .ui-state-highlight {
        border: none;
        background: #29cad8;
        color: #ffffff; }
      .ui-widget-header .ui-state-active {
        border: none;
        background: #29cad8;
        font-weight: normal;
        color: #ffffff; }
  .ui-state-default {
    border: none;
    background: none;
    font-size: 12px;
    color: #848484; }
  .ui-state-highlight {
    border: none;
    background: #29cad8;
    color: #ffffff; }
  .ui-state-active {
    border: none;
    background: #29cad8;
    font-weight: normal;
    color: #ffffff; }
  .ui-slider-horizontal {
    height: 0; }
  .ui_tpicker_time_label {
    margin-top: 6px; }
  .ui_tpicker_hour_label {
    margin-top: -8px; }
  .ui_tpicker_minute_label {
    margin-top: -6px; }
  .ui-datepicker {
    width: 258px;
    z-index: 999 !important; }
    .ui-datepicker table {
      border-top: 1px solid #d4d4d4; }
    .ui-datepicker td span, .ui-datepicker td a {
      text-align: center; }
  .ui-timepicker-div dl {
    margin: 20px 0; }
    .ui-timepicker-div dl dd {
      margin: 0 10px 24px 40%; }
    .ui-timepicker-div dl .ui_tpicker_time .ui_tpicker_time_input {
      color: #d4d4d4;
      border-bottom: 1px solid #d4d4d4; }
  .msights-grid .fa {
    margin-right: 1px; }
    .msights-grid .fa-sort {
      font-size: 10px; }
    .msights-grid .fa-spin {
      margin-right: 5px; }
    .msights-grid .fa-check-circle {
      margin-right: 2px; }
    .msights-grid .fa-pencil {
      color: #848484; }
    .msights-grid .fa-clone, .msights-grid .fa-file, .msights-grid .fa-trash, .msights-grid .fa-globe {
      margin-right: 10px; }
    .msights-grid .fa-lock {
      margin-right: 5px; }
    .msights-grid .fa-caret-down {
      float: left;
      line-height: 26px; }
    .msights-grid .fa-search {
      color: #848484;
      border: none;
      padding: 5px 0;
      margin-left: -20px; }
  .msights-grid .antiscroll-box {
    overflow: hidden; }
  .msights-grid .antiscroll-scrollbar {
    z-index: 1; }
  .msights-grid div.tagsinput {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 2px;
    width: 300px;
    overflow-y: auto; }
  .msights-grid div.tagsinput span.tag {
    border: 1px solid #a5d24a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration: none;
    background: #cde69c;
    color: #638421;
    margin-right: 5px;
    margin-bottom: 0px;
    font-family: helvetica;
    font-size: 11px;
    margin-top: 2px; }
  .msights-grid div.tagsinput span.tag a {
    font-weight: bold;
    color: #82ad2b;
    text-decoration: none;
    font-size: 11px;
    float: right; }
  .msights-grid div.tagsinput input {
    margin: 0px;
    font-family: helvetica;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 2px;
    background: transparent;
    color: #000;
    outline: 0px;
    margin-right: 5px;
    margin-bottom: 0px; }
  .msights-grid div.tagsinput div {
    display: block;
    float: left; }
  .msights-grid .tags_clear {
    clear: both;
    width: 100%;
    height: 0px; }
  .msights-grid .not_valid {
    background: #FBD8DB;
    color: #90111A; }
  .msights-grid div.tagsinput {
    min-height: 26px;
    float: left; }
    .msights-grid div.tagsinput span.tag {
      font-size: 11px;
      padding: 2px 4px;
      border: none;
      background: #e3e3e3;
      color: #848484; }
      .msights-grid div.tagsinput span.tag a {
        color: #7a7a7a;
        margin-left: 5px; }
    .msights-grid div.tagsinput input {
      width: 100%;
      padding: 2px 0;
      font-size: 12px;
      margin: 0;
      color: #848484; }
      .msights-grid div.tagsinput input:focus {
        outline: none; }
  .msights-grid .swashOut {
    -webkit-animation-name: swashOut;
    animation-name: swashOut; }
  .msights-grid .swashIn {
    -webkit-animation-name: swashIn;
    animation-name: swashIn;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s; }
  .msights-grid .advanced-filter-active {
    display: none; }

@keyframes sqaushIn {
  0% {
    width: 100%;
    -webkit-transform-origin: 0 50%; }
  100% {
    width: 0;
    -webkit-transform-origin: 0 50%; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes swashOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0); } }

@keyframes swashOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1); }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0); } }

@-webkit-keyframes swashIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1); } }

@keyframes swashIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1); } }
  .msights-grid .pull-left {
    float: left; }
  .msights-grid .pull-right {
    float: right; }
  .msights-grid .pagination-holder .current-page {
    background: #29cad8;
    color: #ffffff; }
  .msights-grid .pagination-holder button:disabled {
    background: #f5f5f5; }
    .msights-grid .pagination-holder button:disabled:hover {
      background: #f5f5f5;
      color: #848484; }
  .msights-grid .multi-select-button.active > button h2 {
    border: none; }
  .msights-grid .dirty input, .msights-grid .dirty select {
    background: rgba(255, 226, 109, 0.3); }
  .msights-grid .dirty select option {
    background: #ffffff; }
  .msights-grid.multi-edit-mode .grid-header {
    height: 160px; }
  .msights-grid.multi-edit-mode .grid-body-wrapper {
    margin-top: -94px; }
  .msights-grid .grid-filter {
    display: none; }
    .msights-grid .grid-filter.show-filter {
      display: block;
      -webkit-animation: 0.3s ease-out forwards fadeIn;
      animation: 0.3s ease-out forwards fadeIn; }
  .msights-grid .first-filter {
    display: none; }
  .msights-grid .invert-dropdown ul {
    bottom: 100%;
    border: 1px solid #29cad8;
    border-bottom: none; }
  .msights-grid .invert-dropdown p.grid-error {
    bottom: 114%;
    top: auto; }
    .msights-grid .invert-dropdown p.grid-error::before {
      width: 0;
      height: 0;
      content: "";
      border-left: 0px solid transparent;
      border-right: 0px solid transparent;
      border-top: 0px solid #fe748f;
      bottom: 0px; }
    .msights-grid .invert-dropdown p.grid-error::after {
      width: 0;
      height: 0;
      content: "";
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fe748f;
      bottom: -5px; }
  .msights-grid .block-bg {
    z-index: 5; }
  .msights-grid .not-visible {
    opacity: 0; }
  .msights-grid .disable-all {
    position: absolute;
    left: 0;
    top: 0;
    cursor: not-allowed;
    z-index: 9999;
    display: none; }
  .msights-grid.loading-content .disable-all {
    display: block; }
  .msights-grid .hidden {
    display: none; }
  .msights-grid .sharing-in-progress {
    background: #a8a8a8; }

.msights-ie .grid-body .grid-row {
  height: 30px; }
  .msights-ie .grid-body .grid-row-container {
    height: 100px; }

/*# sourceMappingURL=dummy.css.map */